body {
	padding: 70px 0;
	overflow-y: scroll;
	background-color: #f0f0f0;
}

ol > li {
	list-style-type: none;
}

.popover {
    white-space: pre-wrap;    
}

.notify {
	position: fixed;
	margin: 5px;
	z-index: 1000;
	width: auto;
}

.tablinks {
	border-radius: 0;
}

/* Style the tab */
.tab {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
}
/* Style the buttons inside the tab */
.tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	font-size: 17px;
}
/* Change background color of buttons on hover */
.tab button:hover {
	background-color: #ddd;
}
/* Create an active/current tablink class */
.tab button.active {
	background-color: #ccc;
}

.panel-primary {
	padding: 10px;
}

.panel-body {
	padding: 3px;
}

.tabcontent {
	padding: 6px 12px;
	border: 1px solid #ccc;
}

.mb-3 {
	max-width: 900px;
}

.form-input {
	width: 150px !important;
	background-color: #fff !important;
}

.input-group-title {
	font-size: 1.2rem;
}

.btn-outline-success:disabled {
	background-color: #efe2;
	font-weight: 500;
}

.btn-outline-secondary {
	position:relative;
	margin-top:22px;
}

.btn-outline-success {
	background-color: #efe2;
	font-weight: 500;
	position:relative;
	margin-top:22px;
}

.btn-outline-success::after {
	position:absolute;
	top:0;
	left:3px;
	content: "✓";
}

.btn-upgrade::before {
	position:absolute;
	top: -25px;
	color: #333;
	left: 0;
	font-weight: 500;
	content: attr(data-content);
}

.btn-outline-primary {
	font-weight: 500;
	position:relative;
	margin-top:22px;
}

.btn-primary {
	/* text-shadow: 0px 2px 5px #3f4d3c; */
}

.btn-inline:disabled {
	background-color: #eee;
}

.upgrade-separator {
	border-bottom:1px solid gray; 
	padding-left:5px; 
	padding-right:5px;
}

.btn:disabled {
	opacity: unset;
}

.btn-group {
	background-color: #efe;
	border-color: #ccc;
	width: auto;
}

.btn-inline {
	width: 90px;
	align-items: center;
}

.input-group-digits {
	width: 150px;
	justify-content: center;
	cursor: default !important;
	position: relative;
}

.input-group-text {
	cursor: default !important;
	background-color: #dae3ed;
}

.col {
	border-radius: .25rem;
	text-align: center;
}

.col .btn {
	width: 100%;
}

.justify-content-md-left {
	margin-bottom: 10px;
}

.upgrade-row {
	margin-bottom: 10px;
}

.achievement {
	font-size: 14px;
}



@keyframes disappear{
  0%{
	opacity: 1;
  }
  60%{
	opacity: 1;
  }
  80%{
	opacity: 0.5;
  }
  95%{
	opacity: 0;
  }
  100%{
	  opacity: 0;
  }
}

.notify span {
	/* color: #a03333; */
	background-color: #e9ecdf;
	font-weight: 500;
	width: auto;
	margin: 5px;
}

.notify-anim {
	animation-name: disappear;
    animation-duration: 5000ms;
    animation-fill-mode: forwards;
}



@keyframes rotation45{
	0%{
		opacity:0;
	}
	10% {
		opacity:1;
	}
	70%{
		opacity:1;
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
	}
	100%{
		opacity:0;
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
	}
}

@keyframes rotation90{
	0%{}
	3%{
		transform: rotate(9deg);
		-webkit-transform: rotate(9deg);
		-moz-transform: rotate(9deg);
		-ms-transform: rotate(9deg);
	}
	7%{
		transform: rotate(1deg);
		-webkit-transform: rotate(1deg);
		-moz-transform: rotate(1deg);
		-ms-transform: rotate(1deg);
	}
	13%{
		transform: rotate(4deg);
		-webkit-transform: rotate(4deg);
		-moz-transform: rotate(4deg);
		-ms-transform: rotate(4deg);
	}
	18%{
		transform: rotate(-11deg);
		-webkit-transform: rotate(-11deg);
		-moz-transform: rotate(-11deg);
		-ms-transform: rotate(-11deg);
	}
	22%{
		transform: rotate(11deg);
		-webkit-transform: rotate(11deg);
		-moz-transform: rotate(11deg);
		-ms-transform: rotate(11deg);
	}
	26%{
		transform: rotate(1deg);
		-webkit-transform: rotate(1deg);
		-moz-transform: rotate(1deg);
		-ms-transform: rotate(1deg);
	}
	70%{
		transform: rotate(90deg) scale(5);
		-webkit-transform: rotate(90deg) scale(5);
		-moz-transform: rotate(90deg) scale(5);
		-ms-transform: rotate(90deg) scale(5);
	}
	100%{
		transform: rotate(900deg) scale(5);
		-webkit-transform: rotate(900deg) scale(5);
		-moz-transform: rotate(900deg) scale(5);
		-ms-transform: rotate(900deg) scale(5);
	}
}

.half-flip {
	display:inline-block;
}

.rt90 {
	animation-name: rotation90;
    animation-duration: 6500ms;
    animation-fill-mode: forwards;
}

#plus {
	display: none;
	top: -200px;
	position: absolute; 
	font-size: 500px; 
	z-index: 1001;
	opacity: 0;
}

.rt45 {
	animation-name: rotation45;
    animation-duration: 3000ms;
    animation-fill-mode: forwards;
}

.progress-bar-cost {
    content:'';
    position:absolute;
	display:inline;
    background-color:#a5b5c682;
    top:0; 
	bottom:0;
    left:0; 
	width: 20%;
}